* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Segoe UI", Arial, sans-serif;
}
body {
  background-color: rgb(53, 52, 52);
}
header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 5vw;
}
h1 {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 32px;
  letter-spacing: 2px;
  line-height: 1.2;
  font-weight: bold;
  color: rgb(204, 204, 204);
}
h2 {
  margin: 5px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 1.2;
  font-weight: bold;
  color: rgb(204, 204, 204);
}
main {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input {
  border: none; 
  outline: none; 
  background-color: #f2f2f2; 
  padding: 8px; 
  margin-bottom: 10px; 
  width: 100%;
  color: black;
  border-radius: 8px;
  margin: 5% 0;
  height: 3vh;
}
form label {
  display: flex;
  align-items: center;
}

form label span {
  margin-left: 5px;
  min-width: 20px;
  width: 30px; /* Ancho fijo para el contenedor del porcentaje */
  text-align: right; /* Alinea el contenido del span a la derecha */
}

#calculateButton {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #a29d9d;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#calculateButton:hover {
  background-color: #c6982d;
}
